SHOPIFY_API_KEY=your_shopify_api_key
SHOPIFY_API_SECRET=your_shopify_api_secret
SHOPIFY_APP_URL=https://your-app-domain.com
SCOPES=read_products,write_products
SHOPIFY_API_VERSION=2026-01
BACKEND_API_URL=https://extension-ai-generator-production.up.railway.app/
BACKEND_EXTENSION_TOKEN=Extension@Scalora@Ai@Description
